@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Integral/IntegralCF-Regular.woff') format('woff'),
    url('assets/fonts/Integral/IntegralCF-Regular.woff2') format('woff2');
  }
  